<modx>
  <database_type>{{ database_type }}</database_type>
  <database_server>{{ database_server }}</database_server>
  <database>{{ database }}</database>
  <database_user>{{ database_user }}</database_user>
  <database_password>{{ database_password }}</database_password>
  <database_connection_charset>{{ database_connection_charset }}</database_connection_charset>
  <database_charset>{{ database_charset }}</database_charset>
  <database_collation>{{ database_collation }}</database_collation>
  <table_prefix>{{ table_prefix }}</table_prefix>
  <https_port>{{ https_port }}</https_port>
  <http_host>{{ http_host }}</http_host>
  <cache_disabled>{{ cache_disabled }}</cache_disabled>
  <inplace>{{ inplace }}</inplace>
  <unpacked>{{ unpacked }}</unpacked>
  <language>{{ language }}</language>
  <cmsadmin>{{ cmsadmin }}</cmsadmin>
  <cmspassword>{{ cmspassword }}</cmspassword>
  <cmsadminemail>{{ cmsadminemail }}</cmsadminemail>
  <core_path>{{ core_path }}</core_path>
  <context_mgr_path>{{ context_mgr_path }}</context_mgr_path>
  <context_mgr_url>{{ context_mgr_url }}</context_mgr_url>
  <context_connectors_path>{{ context_connectors_path }}</context_connectors_path>
  <context_connectors_url>{{ context_connectors_url }}</context_connectors_url>
  <context_web_path>{{ context_web_path }}</context_web_path>
  <context_web_url>{{ context_web_url }}</context_web_url>
  <remove_setup_directory>{{ remove_setup_directory }}</remove_setup_directory>
</modx>
